*~
*.class
*.classpath
*.project
*.settings
dockfx.jar
dockfxdemo.jar
*.jar
*.db
.git/modules
/bin
target
/build
/.gradle
.idea
/out
*.iml
# Gradle.properties has GPG info, and we don't want that checked in.
/gradle.properties